<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>

  <section style="text-align: center;">
    <h1>메뉴 목록</h1>
    <table border="1" style="margin: 0 auto;">
    <tr>
        <th>메뉴번호</th>
        <th>메뉴이름</th>
        <th>메뉴가격</th>
        <th>카테고리코드</th>
        <th>판매상태</th>
      </tr>
      <tr th:each="menu : ${ menuList }">
        <td th:text="${ menu.menuCode }"></td>
        <td>
          <a th:href="@{/menu/{menuCode}(menuCode=${menu.menuCode})}"
               th:text="${menu.menuName}"></a>
        </td>
        <td th:text="${ menu.menuPrice }"></td>
        <td th:text="${ menu.categoryCode }"></td>
        <td th:text="${ menu.orderableStatus }"></td>
      </tr>
    </table>
    <br>

    <div id="paging">
      <!-- 맨 앞으로 이동 -->
      <button
          th:onclick="'location.href=\'/menu/list?page=' + '1' + '\''"
          th:disabled="${paging.currentPage == 1}">
        <<
      </button>

      <!-- 이전 페이지로 이동 -->
      <button
          th:onclick="'location.href=\'/menu/list?page=' + (${paging.currentPage} - 1) + '\''"
          th:disabled="${menuList.first}">
        <
      </button>

      <!-- 숫자 버튼 -->
      <th:block th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
        <button
            th:onclick="'location.href=\'/menu/list?page=' + ${page} + '\''"
            th:text="${page}"
            th:disabled="${paging.currentPage == page}">
        </button>
      </th:block>

      <!-- 다음 페이지로 이동 -->
      <button
          th:onclick="'location.href=\'/menu/list?page=' + (${paging.currentPage} + 1) + '\''"
          th:disabled="${menuList.last}">
        >
      </button>

      <!-- 맨 끝으로 이동 -->
      <button
          th:onclick="'location.href=\'/menu/list?page=' + ${paging.endPage} + '\''"
          th:disabled="${paging.currentPage == paging.endPage}">
        >>
      </button>
    </div>
    <br>
    <button onclick="location.href='/menu/regist'">메뉴 등록하기</button>
    <button onclick="location.href='/menu/modify'">메뉴 수정하기</button>
    <button onclick="location.href='/menu/delete'">메뉴 삭제하기</button>
  </section>


</body>
</html>